#title, h1 {
    text-align: center;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b8ffb9;
    color: #386338;
}

header nav {
    position: fixed;
    top: 50px;          /* leaves room for greeting */
    right: 10px;
    z-index: 999;
    background: #c4f6ff;
    padding: 5px;
}

header nav a {
    margin: 0;
    padding: 0;
    line-height: 1;
}